<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une recette</title>
</head>
<body>
<h2>Ajouter une recette</h2>
<form th:action="@{/recettes/ajout}" th:object="${recette}" method="post">
    <div>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" th:field="*{nom}" required/>
    </div>
    <div>
        <label for="ingredients">Ingrédients:</label>
        <textarea id="ingredients" th:field="*{ingredients}" required></textarea>
    </div>
    <div>
        <label for="instructions">Instructions:</label>
        <textarea id="instructions" th:field="*{instructions}" required></textarea>
    </div>
    <div>
        <label for="categorie">Catégorie:</label>
        <select id="categorie" th:field="*{categorie}" required>
            <option th:each="categorie : ${categories}" th:value="${categorie}" th:text="${categorie.nom}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Ajouter</button>
    </div>
</form>
</body>
</html>
