<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="~{home :: bootstrap}">
    <title>Panier</title>
</head>
<body>
<div class="container">
<h2>Votre panier</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col" >Prix</th>
        <th scope="col">Quantité</th>
        <th scope="col">Total</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItems}">
        <td th:text="${cartItem.id}">1</td>
        <td th:text="${cartItem.furniture.name}">Nom</td>
        <td th:text="${cartItem.furniture.price}">Prix</td>
        <td th:text="${cartItem.quantity}">Quantité</td>
        <td th:text="${cartItem.furniture.price * cartItem.quantity}">Total</td>
        <td>
            <a th:href="@{/cart/remove(id=${cartItem.id})}">Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/cart/clear}">Vider le panier</a>
<br>
<a th:href="@{/furniture/}">revenir à la liste de meuble</a>
</div>
</body>
</html>
