<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="~{home :: bootstrap}">

    <title>Liste des meubles</title>
</head>
<body>
<div class="container">
<h2>Liste des meubles</h2>
<table  class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Stock</th>
        <th scope="col">Saisir la quantité</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="furniture : ${furnitures}">
        <td th:text="${furniture.id}">1</td>
        <td th:text="${furniture.name}">Nom</td>
        <td th:text="${furniture.description}">Description</td>
        <td th:text="${furniture.price}">Prix</td>
        <td th:text="${furniture.stock}">Stock</td>
        <td>
            <a th:href="@{/furniture/edit(id=${furniture.getId()})}">Modifier</a>
            <a th:href="@{/furniture/delete(id=${furniture.id})}">Supprimer</a>
            <form th:action="@{/cart/add}" method="post" style="display:inline;">
                <input type="hidden" name="furnitureId" th:value="${furniture.id}"/>
                <input type="number" name="quantity" min="1" max="${furniture.stock}" required/>
                <button class="btn btn-success" type="submit">Ajouter au panier</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/furniture/addFurniture}">Ajouter un meuble</a>
<br>
<a th:href="@{/cart}">Accéder au panier</a>
</div>
</body>
</html>
